;; https://github.com/borkdude/spartan.spec
{:deps {borkdude/spartan.spec {:git/url "https://github.com/borkdude/spartan.spec"
                               :sha "4762f629ac2d146da2296923bb8b40fb42c69b30"}}}
